  * {
     margin: 0;
     padding: 0 
}
 html, body {
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 10;
     background-image:url(../img/bg2.png);
     background-repeat: no-repeat;
     background-position: 0rem 0rem;
     background-color: #bae2f8;
     background-size: 100% 100%;
}
/* .container {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 10;
     background-image: url(../img/bg2.png);
     background-repeat: no-repeat;
     background-position: 0rem 0rem;
     background-size: 100% 100%;
}
 */
 .head-img {
     height: 4.864864864864865rem;
     background-image: url(../img/person.png);
     background-repeat: no-repeat;
     background-position: 50% 0rem;
     background-size: contain;
}
 .main {
     position: absolute;
     top: 5%;
     left: 0;
     z-index: 99;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%;
     margin-bottom: 0.43243243243243246rem;
}
 .head-img {
     margin: 0 0 0.13513513513513514rem 0;
     margin: 0.2702702702702703rem 1.0810810810810811rem;
}
 .head-img img {
     width: 80%;
     height: 4.864864864864865rem;
}
 .class-room {
     background: url(../img/txt-bg.png) no-repeat center;
     background-size: 100% 100%;
     position: relative;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0 0.5405405405405406rem;
}
 .class-room h3 {
     font-size: 0.4594594594594595rem;
     color: #f25022;
     text-align: center;
     line-height: 0.5405405405405406rem;
     padding-top: 0.40540540540540543rem;
}
 #startIcon::before {
     content: "";
     position: absolute;
     top: 0.4864864864864865rem;
     left: 0.2972972972972973rem;
     z-index: 99;
     background: url(../img/start.png) no-repeat center;
     background-size: 0.9459459459459459rem;
     height: 1.3513513513513513rem;
     width: 1.3513513513513513rem;
}
 #wowIcon::before {
     content: "";
     position: absolute;
     top: -0.2702702702702703rem;
     right: 0.5405405405405406rem;
     z-index: 99;
     background: url(../img/wow.png) no-repeat center;
     background-size: 1.3513513513513513rem;
     height: 1.3513513513513513rem;
     width: 1.3513513513513513rem;
}
 .class-con {
     padding: 0 0.1891891891891892rem 0.8108108108108109rem;
     position: relative;
}
 .class-con p {
     font-size: 0.32432432432432434rem;
     color: #3e3a39;
     line-height: 0.5675675675675675rem;
     text-align: center;
}
 .btn-con {
     position: absolute;
     bottom: -0.08108108108108109rem;
     left: 0;
     z-index: 99;
     width: 100%;
     text-align: center;
}
 .btn-con .btn {
     background-color: #e83946;
     width: 2.4324324324324325rem;
     height: 0.8108108108108109rem;
     border-radius: 0.40540540540540543rem;
     margin: 0 auto;
}
 .btn-con .btn a { 
     display: block;
     font-size: 0.40540540540540543rem;
     color: #fff;
     line-height: 0.8108108108108109rem;
     text-decoration: none;
}
 .line {
     background: url(../img/line.png) no-repeat center;
     margin: 0.2702702702702703rem 0.8108108108108109rem;
     height: 0.13513513513513514rem;
     background-size: contain;
}
 .date {
     font-weight: 700;
}
 